<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑链</title>
    <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src=lib/bootstrap-4.0.0-dist/js/bootstrap.min.js></script>
    <script src="js/angular.min.js"></script>

    <style>
        label {
            vertical-align: middle;
            font-weight: bolder;
            vertical-align: middle !important;
        }

        .help-block {
            font-size: small;
        }

        body{
            /*background-color: #81b9ca;*/
        }

        #footer{
            padding: 0 0 30px 0;
            /*color: #eee;*/
            font-size: 14px
        }

        #footer .copyright {
            text-align: center;
            padding-top: 30px;
        }

        #footer .credits {
            text-align: center;
            padding-top: 15px;
        }
    </style>
</head>
<body ng-app="blackBody" ng-controller="blackCtrl as bc">

<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="index.html" style="font-size: 40px">黑链</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">首 页</a>
            </li>
            <li class="nav-item">
                <span data-toggle="modal" data-target="#addModal" class="" style="cursor:pointer">爆 料</span>
                <!--<a class="nav-link" href="javaScript:void(0);" data-toggle="modal" data-target="#addModal">爆 料</a>-->
            </li>
            <!--            <li class="nav-item">
                            <a class="nav-link" href="#">声明</a>
                        </li>-->
            <li class="nav-item active">
                <a class="nav-link" href="about.html">关 于</a>
            </li>
        </ul>
        <form class="form-inline navbar-form pull-right">
            <div class="input-group center-block ">
                <input id="search-key" type="text" ng-model="name" placeholder="请输入关键字" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text" id="search-btn" ng-click="search()">搜索</span>
                </div>
                </span>
            </div>
        </form>
    </nav>

    <div class="container text-center">
        <h2>黑暗料理</h2>
        <span class="text-success">爆料您在公司所经历的不公正待遇<br/>帮助他人就是帮助您自己，解决信息不对称的问题</span>
    </div>

    <h3 class="" ng-if="kw" style="line-height: 200%">关于{{kw}}的搜索结果</h3>
    <h3 class="" ng-if="!kw" style="line-height: 200%"> &nbsp; &nbsp;最新爆料</h3>
    <div class="row">
        <div class="col-sm-9">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="r in list" style="text-indent:2em;">
                    <span class="col-sm-2"></span>
                    <a class="list_txt" href="javascript:void(0);" ng-click="details(r.company)">
                        ○ <!--{{r.sketch}}——-->{{r.company}}
                    </a>
                </li>
            </ul>

            <div ng-if="list.length < 1">
                <p class="list_txt">
                    暂无{{kw}}的数据，提交请点击<a href="javascript:void(0);" data-toggle="modal" data-target="#addModal">这里</a>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="img/1.jpg" style="width: 100%; border: none">
            <img src="img/2.jpg" style="width: 100%; border: none; margin-top: 30px">
            <img src="img/3.png" style="width: 100%; border: none; margin-top: 30px">
            <img src="img/4.png" style="width: 100%; border: none; margin-top: 30px">
        </div>
    </div>
</div>


<footer id="footer">
    <div class="container align-content-center">
        <div class="copyright align-content-center">
            &copy; Copyright 基于新一代区块链公链<a href="https://nebulas.io/" target="_blank">NAS</a>
        </div>
        <div class="credits align-content-center">
            <a href="https://incentive.nebulas.io/cn/signup.html?invite=mMffL"
               target="_blank">点我发布DAPP获取100NAS</a>
        </div>
    </div>
</footer><!-- #footer -->

<ng-include src="'modal.html'"></ng-include>
<script src=lib/nebPay.js></script>
<script src=lib/nebulas.js></script>

<script>
    "use strict";
    var dappAddress = "n1m8jgFQYe3A4hxDoDpJvSE5oV3eW3JCRRw";
    var to = dappAddress;
    var value = "0";

    var NebPay = require("nebpay");     //https://github.com/nebulasio/nebPay
    var nebPay = new NebPay();
    var serialNumber;

    var blackApp = angular.module('blackBody', []);
    blackApp.controller('blackCtrl', function ($scope, $http) {
        $(function () {
            var callFunction = "top";
            var callArgs = "";
            serialNumber = nebPay.simulateCall(to, value, callFunction, callArgs, {
                listener: showData
            });
        });

        $scope.search = function () {
            var search = $('#search-key').val().trim();
            $scope.kw = search;
            var callFunction = "search";
            var callArgs = [];
            callArgs.push(search);
            serialNumber = nebPay.simulateCall(to, value, callFunction, JSON.stringify(callArgs), {
                listener: showData
            });
        };

        var showData = function showData(resp) {
            console.log($scope)
            $scope.list = [];
            console.log("response: " + JSON.stringify(resp));
            console.log(resp)
            // dataMap = d_Map;
            if (resp.result == 'null' || resp.result == '' || resp.result == '"[]"' || typeof(resp.result) == "undefined") {
                $scope.$apply();
                return;
            }

            var dataArray = eval(JSON.parse(resp.result));
            for (var i = 0; i < dataArray.length; i++) {
                var topic = {};
                topic.company = dataArray[i];
                $scope.list[i] = topic;
                console.log(dataArray[i])
            }

            //刷新数据
            $scope.$apply();
        };

        $scope.details = function (i) {
            window.location.href = encodeURI('detail.html?company=' + i);
            //window.location.href = encodeURI('/details/' + i);
        };

        $scope.submit = function () {
            var data = {
                company: $scope.bc.company,
                title: $scope.bc.title,
                content: $scope.bc.content
            };

            if (!angular.isDefined(data.company) || data.company.trim() == '' || data.content == '' || data.title == '' || !angular.isDefined(data.content) || !angular.isDefined(data.title)) {
                alert("不能允许有空的！");
                return false;
            }

            console.log(JSON.stringify(data));
            var callArgs = [];
            var callFunction = 'save';
            callArgs.push(data.company);
            callArgs.push(JSON.stringify(data));
            console.log(JSON.stringify(callArgs));
            serialNumber = nebPay.call(to, value, callFunction, JSON.stringify(callArgs), {    //使用nebpay的call接口去调用合约,
                listener: cbPush        //设置listener, 处理交易返回信息
            });

/*            intervalQuery = setInterval(function () {
                funcIntervalQuery();
            }, 5000);*/
        };

/*        var intervalQuery;

        function funcIntervalQuery() {
            nebPay.queryPayInfo(serialNumber)   //search transaction result from server (result upload to server by app)
                .then(function (resp) {
                    console.log("tx result: " + resp)   //resp is a JSON string
                    var respObject = JSON.parse(resp)
                    if (respObject.code === 0) {
                        $("#addModal").modal('hide');
                        $("#msgModal .modal-body").html(msg);
                        $("#msgModal").modal();
                        $('#blackBody')[0].reset();
                        clearInterval(intervalQuery);
                        // window.location.reload();
                    }
                })
                .catch(function (err) {
                    console.log(err);
                });
        }*/

        function cbPush(resp) {
            $("#addModal").modal('hide');
            $("#msgModal .modal-body").html(msg);
            $("#msgModal").modal();
            $('#blackBody')[0].reset();
            console.log("response of push: " + JSON.stringify(resp))
        }
    });
</script>

</body>
</html>