<div class="modal fade" id="msgModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">success!</div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="blackBody">
            <div class="modal-header">

                <h4 class="modal-title">填写爆料</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
            </div>
            <div class="modal-body">
                <form id="black-add">
                    <div class="form-group row ">
                        <label class="col-sm-2 control-label text-right" for="company">公司名称</label>
                        <input class="form-control col-sm-4 text-left" type="text" ng-model="bc.company" id="company" name="company" placeholder="公司全名" required="required" />*
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right">爆料标题</label>
                        <input type="text" class="form-control col-sm-4" ng-model="bc.title" name="title" placeholder="爆料原因" required="required" />* <span class="help-block">Example:拖欠工资/推延离职...</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right">详细描述</label>
                        <textarea class="form-control col-sm-8 date-picker" id="content" ng-model="bc.content" name="content" rows="5" placeholder="备注内容" required></textarea>
                    </div>
<!--                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right">联系方式</label>
                        <input class="form-control col-sm-4" type="text" ng-model="contact" name="contact"
                                   placeholder="email/qq/tel..."> <span class="help-block ">不会在网站展示，仅供进一步确认问题，选填</span>
                    </div>-->
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right"><input type="checkbox" checked disabled="disabled"/></label>
                        <span class="help-block col-sm-8">以上内容均系用户个人行为，不代表本网站意见，本站不为以上内容承担任何法律责任。</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" ng-click="submit()" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>
